<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'home' %}">{{ title }}</a></li>
    {% for m in menu %}
        {% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}
            <a href="{% url m.url_name %}">{{ m.title }}</a>
        </li>
    {% endfor %}
    </ul>
    <h1>{{ title }}</h1>
    <ul>
        {%for p in posts%}
        {%if p.is_publisher%}
            <li>
                <h2>{{ p.title }}</h2>
                <p>{{ p.content }}</p>
                <p><a href="{% url 'post' p.id %}">Читать пост</a></p>
                {%if not forloop.last%}
                <hr>
                {%endif%}
            </li>
        {%endif%}
        {%endfor%}
    </ul>
</body>
</html>